* {
  box-sizing: border-box;
  margin: 0;
}

.wrapper {
  background-color: #282c34;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: row;
  padding: 15px;
}

.left-container {
  width: 70%;
}
.right-container {
  width: 30%;
}

.spacer {
  height: 15px;
}

.button-container {
  display: inline-block;
  margin-bottom: 20px
}

.button-container button:first-child {
  margin-right: 10px
}

.json-container {
  display: flex;
  align-items: start;
  justify-content: start;
  background-color: #ffffff;
  font-size: calc(10px + 2vmin);
  border-radius: 8px;
  width: 95%;
  padding: 10px;
}

.qr-container {
  margin-top: 20px;
}

.qr-container h3 {
  color: #ffffff;
  line-height: 32px;
}
